@*@model IEnumerable<BookStore.EntityFramework.Order>

@{
    ViewBag.Title = "Покупка книги";
}

<div>
    <h3>Форма оформления покупки</h3>
    <form method="post">
        <input type="hidden" value="@ViewBag.BookId" name="BookId" />
        <input type="hidden" value="@ViewBag.UserId" name="UserId" />
        <table>
            <tr>
                <td><p>Введите своё имя:</p></td>
                <td><input type="text" name="Person" /></td>
            </tr>
            <tr>
                <td><p>Введите свой адрес:</p></td>
                <td><input type="text" name="Address" /></td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /></td><td></td></tr>
        </table>
    </form>
</div>*@